/* Componente Cabecario */

.Menu {
  background: #e8f1f2;
  overflow:hidden;
  position: fixed;
  width: 100%;
  border-bottom: 2px solid rgb(200, 200, 200); 
  padding-left: calc(50% - 339px);   /* Calculo para centralizar o Menu! 339px é a soma dos tamanho de cada item dividido por 2. */
}

.MenuItens {
  padding: 15px 30px 15px 30px;
  font-size: 35px;
  cursor: pointer;
  display: inline-block;

}

.MenuItens:hover{
  background-color: #d9edff ;
  transition: 0.2s;
}

/* Componente Destaque */

.DestaqueBox {
  padding-top: 70px;
  background-color: #1B98E0;
  overflow: hidden; 
  height: 800px; 
  min-width: 1200px;
}

.DestaqueEu { 
  height: 100%;
  float: left;
}

.DestaqueEu img {
  height: 100%;
}

.DestaqueLamp { 
  height: 100%;
  float: left;
}

.DestaqueLamp img {
  padding-left: 100px;
  height: 50%; 
  float: left;
}

.DestaqueTxt {
  color: #fff;
  padding-top: 200px;
  text-align: center;
  font-size: 40px;
}

.DestaqueTxt h1 {
  text-shadow: 10px 0px 10px #000000
}

.DestaqueTxt p {
  padding-top: 80px; 
  font-size: 40px;
}

.Desenv {
  padding-top: 300px;
  padding-bottom: 400px;
  text-align: center;
  font-size: 40px;
}

/* Componente Postagem */

.GradePostagem {
  margin: 40px 20% 20px 20%;
  border-bottom: 2px solid rgb(200, 200, 200);   
}

.PostagemTitulo{
  padding-top: 10px;
  text-align: center;
}

.PostagemConteudo{
  overflow: hidden;
  display:block;
  margin-bottom: 30px;
  
}

.PostagemConteudo img{
  margin-top: 40px;
  height: 150px;
  float: left;
}

.PostagemConteudo p{
  margin-top: 40px;
  margin-left: 250px;
  text-align: justify;
  font-size: 1.5rem;
  overflow: hidden;
  text-indent: 30px; 
}



















/* Componente Rodape */

.Rodape{
  border-top: 2px solid rgb(200, 200, 200);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #e8f1f2 ;
}


.RodapeRedes { /* Formato dos links de Redes Sociais */
  display:inline-block;
  margin: 10px 10px 20px 10px;
  height: 40px;
}

.RodapeRedes img{
  height: 100%;
  cursor: pointer;
}

.Rodape p{
  margin-bottom: 10px;
}

