
.DestaqueBox {
  padding-top: 70px;
  background-color: #1B98E0;
  overflow: hidden; 
  height: 800px; 
  min-width: 1200px;
 
}

.DestaqueEu {
  
  height: 100%;
  float: left;
}

.DestaqueEu img {
  height: 100%;
}

.DestaqueLamp {
  
  height: 100%;
  float: left;
}

.DestaqueLamp img {
  padding-left: 100px;
  height: 50%; 
  float: left;
}

.DestaqueTxt {
  color: #fff;
  padding-top: 200px;
  text-align: center;
  font-size: 40px;
}

.DestaqueTxt h1 {
  text-shadow: 10px 0px 10px #000000
}

.DestaqueTxt p {
  padding-top: 80px; 
  font-size: 40px;
}

.Menu {
  background: #e8f1f2;
  overflow:hidden;
  padding-top: 15px ;
  padding-bottom: 15px;
  position: fixed;
  min-width: 2000px;
  border-bottom: 2px solid rgb(200, 200, 200);
  
}

.MenuItens {
  padding: 15px 30px 15px 30px;
  font-size: 40px;
  display:inline;
  cursor: pointer;

}

.MenuItensIni {

  padding: 15px 20px 15px 26%;
  display:inline;

}

.MenuItens:hover{
  background-color: #d9edff ;
  transition: 0.2s;
}

.Desenv {
  padding-top: 300px;
  padding-bottom: 400px;
  text-align: center;
  font-size: 40px;
  
}


















.Rodape{
  border-top: 2px solid rgb(200, 200, 200);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.Rodape p{
  margin-bottom: 10px;
}

/* .container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */